# -----------------------------
# Python
# -----------------------------
venv/
__pycache__/
*.py[cod]
*.so
*.egg-info/

# -----------------------------
# Vivado
# -----------------------------
*.jou
*.log
*.str
*.pb
.cache/
.hw/
.ip_user_files/
.sim/
.gen/
.runs/
.Xil/

# -----------------------------
# PetaLinux
# -----------------------------
build/
tmp/
images/linux/*.wic
images/linux/*.wic.bmap

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Temporary files
# -----------------------------
*.swp
*~
